extends ../layout
block content
    .row 
        .col-sm-8 
            h1=title
        .col-sm-4 
            a(href="faculty/") 
    table.table
        thead 
            tr
                th Name 
                th Gender
                th Email 
                th Course_Code 
                th Address 
                th Phone 
            tbody 
                each detail in details
                    tr
                        td=detail.name  
                        td=detail.Gender  
                        td=detail.Email 
                        td=detail.CourseCode  
                        td=detail.address.street_address 
                        td=detail.Phone[0]
                        
                        